.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table, th, td {
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
  border: 1px solid white;
  padding: 10px
}


input[type="text"] {
  font-size: calc(10px + 3vmin);
  width: 165px;
  text-align: right
}

input[type="submit"] {
  font-size: calc(10px + 3vmin);
}

select {
  font-size: calc(10px + 2vmin);
}